section {
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    padding: 4px;
}

section>iframe {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 99%;
    border: white 5px solid;
}

section>div {
    margin-left: 8px;
    font-size: 19px;
}

@media (max-width: 1024px) {
    section {
        grid-template: 1fr / 1fr;
    }

    section>div {
        grid-row: 2/3;
        grid-column: 1/2;
    }
}
