section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section>div>p {
    font-family: "luckiest guy";
    font-size: 2em;
}

#gallery {
    display: flex;
    align-items: center;
}

#gallery>a {
    margin-right: 0.5em;
}

#gallery>a>img {
    width: 100%;
    height: auto;
    border: white 5px solid;
    margin-bottom: 10px;
}

.featherlight-inner, .featherlight-next, .featherlight-previous {
    margin-top: -18px;
}
