section {
    display: grid;
    grid-template: 1fr auto/ 1fr;
}

section>div:first-child {
    grid-row: 1/2;
    grid-column: 1/2;
    overflow-x:auto;
}

table, td, th {
    border: 1px solid;
    padding: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: #87a5ff;
    text-decoration: underline;
}

tr:nth-child(odd):not(:first-child) {
    background-color: #d7d7d7;
}

#reservierungForm {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template: 5% 1fr / 1fr 1fr 1fr;
}

#reservierungForm>h2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

#reservierungForm>form {
    grid-row: 2/3;
    grid-column: 2/3;
    border: black solid;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    margin-right: 10px;
}

form>div{
    padding: 0.5em;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

form>div>p {
    font-size: 20px;
    text-decoration: underline;
}

form>div>div:not(:last-child) {
    margin-bottom: 5px;
}

input[type=submit], input[type=reset]{
    align-self: center;
    width: 50%;
    border: rgb(106, 106, 106) solid;
    border-radius: 10px;
    font-size: 16px;
}

input[type=submit] {
    background-color: rgb(43, 255, 43);
}

input[type=reset] {
    margin-bottom: 5px;
    background-color: rgb(255, 47, 47);
}

input[type=reset]:hover {
    background-color: rgb(216, 0, 0);
    border: black solid;
}

input[type=submit]:hover {
    background-color: rgb(3, 171, 0);
    border: black solid;
}

textarea {
    resize: none;
}

@media (max-width: 768px) {
    #reservierungForm {
        grid-template: 5% 1fr / 1fr;
    }

    #reservierungForm>h2 {
        grid-column: 1/2;
    }
    
    #reservierungForm>form {
        grid-column: 1/2;
    }
}
