section {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    gap: 3px;
}

section>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: rgb(174, 174, 174) 4px solid;
    border-radius: 10px;
    padding: 4px;
    margin-right: 10px;
}

h1 {
    text-decoration: underline;
}

h2 {
    font-size: 17px;
    margin-bottom: -5px;
}

@media (max-width: 1024px) {
    section {
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}

@media (max-width: 768px) {
    section {
        grid-template: 1fr 1fr 1fr / 1fr;
    }

    section>div {
        grid-column: 1/2;
        grid-row: 2/span(3);
    }
}
